* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.header {
  background: hsl(31, 96%, 53%);
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow:  2px 8px rgba(0, 0, 0, 0.15);
}
.header-wrapper {
  /* border: 1px solid #000000; */
  border: none;

  max-width: width 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}
.input-grupp {
  width: 237px;
  height: 32px;
  position: relative; /*чтобы соединить два блока*/
  background: #ffffffff;
  border-radius: 4px;
  overflow: hidden; /* не вылазить за края*/
  border: 1px solid #d9d9d9;
}
.search-input {
  border: none;
  height: 100%;
  height: 80%;
  font-style: 14px;
  line-height: 22px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button {
  border: none;
  height: 100%;
  width: 20%;
  background-color: #fff;

  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input::-moz-placeholder {
  color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}
